# Env files and virtual environments
.venv/
.env/
.env
.venv

postgres/.env
postgres/create_database.sql

dbt/profiles.yml

# Sensitive or unuseful files
data/**/*.xlsx
data/**/*.tsv
data/**/*.csv
data/**/*.xls

dbt/dbt_packages/
dbt/logs/
dbt/target/