
.DS_Store
*.json


data/*/*.xls
data/*/*.xlsx
data/*/*.csv
data/*/*.tsv
data/*/*.parquet

data/*/*/*.xls
data/*/*/*.xlsx
data/*/*/*.csv
data/*/*/*.tsv
data/*/*/*.parquet

results/*.tsv
results

tests/

.snakemake